.status-dropdown {
    width: 100%;
    position: relative;
    font-family: sans-serif;
    padding-bottom: 2rem;
  }
  
  .dropdown-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid #034DA2;
    box-shadow: 0 4px 10px rgba(3,77,162,0.3); 
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
  }
  
  .placeholder {
    color: #9e9e9e;
  }
  
  .arrow {
    margin-left: auto;
    font-size: 12px;
  }
  
  .dropdown-list {
    /* position: absolute; */
    width: 100%;
    /* margin-top: 6px; */
    /* background: #fff; */
    border: 1px solid #034DA2;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(3,77,162,0.3); 
    z-index: 100;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f5f5f5;
  }
  
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  