.search-container {
    /* width:90%; */
    width: 100%;
    border: 1px solid #034DA2;
    display: flex;
    align-items: center;
    margin:auto;
    border-radius:10px;
    height:5vh;
    box-shadow: 0 4px 10px rgba(3,77,162,0.3); 

    
    
}

.search-box-body {
    padding: 2rem 2rem 0 2rem;
    
}

.search-button {
    padding:0.75rem;
    border-radius:10px;
    height:5vh
}

.search-input-box {
    outline:none;
    border:none;
}