.add-task-container {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
}

.add-task-body {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.title {
    margin-bottom: 1.25rem;
    height: 5vh;
    text-align: left;
    padding: 0.5rem 1rem 0 1rem;
    border:1px solid #034DA2;
    border-radius:20px;
    align-items: center;
    display:flex;
    box-shadow: 0 4px 10px rgba(3,77,162,0.3); 
}

.description {
    text-align: left;
    height: 10vh;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem 0 1rem;
    border:1px solid #034DA2;
    border-radius:20px;
    box-shadow: 0 4px 10px rgba(3,77,162,0.3);
    
}

.action-button {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}




